.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 0.5rem;
  overflow: hidden;
  min-height: 12rem;
  background-position: center top;
  background-size: 100%;
}

.badgers {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.header {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

.body {
  width: 90%;
  border-top-right-radius: 0.5rem;
  position: relative;
  padding: 0.25rem 1rem 0;
  border-top: $colorBlue-400 1px solid;
  border-right: $colorBlue-400 1px solid;
  z-index: 10;
  min-height: 1.5rem;

  &::after {
    content: '';
    width: 1rem;
    height: 1rem;
    position: absolute;
    bottom: 0;
    right: -1rem;
    background-color: transparent;
    z-index: -1;
    box-shadow: var(--tw-shadow-color) -0.125rem 0.125rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom: $colorBlue-400 1px solid;
    border-left: $colorBlue-400 1px solid;
  }
}

.footer {
  padding: 0.5rem 1rem;
  box-shadow: 0 -0.0625rem 0 $colorBlue-400;
  z-index: 2;
}
