.container {
  width: 120px;
  height: 120px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 5s linear infinite reactAnimation;

  .line:first-child {
    transform: rotate(-60deg);
  }

  .line:last-child {
    transform: rotate(60deg);
  }

  &::after {
    content: '';
    position: absolute;
    width: 14%;
    height: 14%;
    background-color: $colorBlue-300;
    box-shadow: 0 0 12px $colorBlue-300;
    border-radius: 50%;
  }
}

.line {
  height: 100%;
  width: 33.333%;
  border: 2px solid $colorBlue-300;
  position: absolute;
  border-radius: 50%;
}

@keyframes reactAnimation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
