$fontFamilyPrimary: var(--font-type-primary);
$fontFamilySecondary: var(--font-type-secondary);

//colors
//  white
$colorWhite: #fff;
//  black
$colorBlack: #000;
//  pink
$colorPink-500: #ec4899;
//  violet
$colorViolet-500: #8b5cf6;
//  gray
$colorGray-50: #f9fafb;
$colorGray-950: #030712;
$colorGray-950-85: #030712d9;
//blue
$colorBlue-900: #1e3a8a;
