.container {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $colorBlack;
  color: $colorWhite;

  ul {
    display: flex;
    gap: 1.5rem;
  }
}
