.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;

  p {
    position: relative;
    z-index: 2;
  }
}

.icon {
  position: absolute;
  top: -2rem;
  left: -1rem;
}

.containerError {
  position: relative;
}
