import styles from './styles.module.scss'

interface In{{pascalCase name}} {
}

export default function {{pascalCase name}} (props: In{{pascalCase name}}) {
  return (
    <div {...props} className={styles.container}>
      <h1>{{pascalCase name}}</h1>
    </div>
  )
}
